@model PassionProject.TravelWorlds.Models.PlaceDto

@{
    ViewBag.Title = "Details";
}

<a href="/places/List"> Go Back to List</a>

<a href="/places/DeleteConfirm/@Model.PlaceID"> Delete</a>

<h2>Detail</h2>

<h2>@Model.PlaceName</h2>
<div>Review: @Model.PlaceReviews</div>
<div> Province: @Model.ProvinceName</div>
