@model IEnumerable<PassionProject.TravelWorlds.Models.PlaceDto>
@{
    ViewBag.Title = "List";
}

<div style="font-size:30px; float:right;">
    <a href="/Places/New"> New Places </a></div>

    <h2 style="text-align:center; font-size:100px;">List Of Place</h2>

    @foreach (var place in Model)
    {
        <h2 style="text-align:center;"><a href="/Places/Details/@place.PlaceID">@place.PlaceName</a></h2>
        <h3 style="text-align:center;">@place.PlaceReviews</h3>

    }


