@model IEnumerable<PassionProject.TravelWorlds.Models.ProvinceDto>
@{
    ViewBag.Title = "New";
}

<h2>Create Places</h2>

<form action="/Places/Create" method="POST">

    <div>
        <label>Places Name: </label> <input type="text" name="PlaceName" />
    </div>
    <div>
        <label>Places Review: </label> <input type="text" name="PlaceReviews" />
    </div>

    <div>
        <label> Province: </label>
        <select name="ProvinceID">
            @foreach (var province in Model)
            {
                <option value="@province.ProvinceID"> @province.ProvinceName </option>
            }
        </select>
    </div>


    <div>
        <input type="submit" value="Add Place" />
    </div>
</form>