
@{
    ViewBag.Title = "New";
}

<h2>Create Places</h2>
<form action="/Places/New " method="post"></form>

<div>
    <label>Places Name: </label> <input type="text" name="PlacesName" />"
</div>
<div>
    <label> Places Reviews: </label> <input type="text" name="PlaceReviews" />"
</div>
<div>
    <label> Province ID: </label> <input type="number" name="ProvinceId" />"
</div>

<div>
    <input type="submit" value="Add Place" />
</div>
