@model PassionProject.TravelWorlds.Models.CountriesDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Country</h2>
<a href="/Countries/List">Cancel</a>

<h3> Are You sure want to delete country?</h3>


<h1>@Model.CountryID @Model.CountryName</h1>

<form action="/Countries/Delete/@Model.CountryID" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>