
@model PassionProject.TravelWorlds.Models.CountriesDto
@{
    ViewBag.Title = "Details";
}


<a href="/Countries/List"> Go Back to List</a>
<a href="/Countries/Edit/@Model.CountryID"> Update</a>

<h2>Detail</h2>

<h2>@Model.CountryName</h2>
