
@model PassionProject.TravelWorlds.Models.ViewModels.DetailsCountries
@{
    ViewBag.Title = "Details";
}



<h3><a href="/Countries/List"> Go Back to List</a></h3>
<h1 style="text-align:center;">Country</h1>

<div class="active" style="float:right; font-size:30px;">
    <a href="/Countries/Edit/@Model.SelectedCountries.CountryID">Update</a>
     <a href="/Countries/DeleteConfirm/@Model.SelectedCountries.CountryID"> Delete</a>
</div>



<h1 style="font-size:50px; text-align:center">@Model.SelectedCountries.CountryID. @Model.SelectedCountries.CountryName</h1>



<h3> <u>Province about to this Country</u></h3>

<div>

    @foreach (var province in Model.RelatedProvince)
    {

        <h2><a href="/Provinces/Details/@province.ProvinceID">@province.ProvinceName</a></h2>

    }

</div>
