
@model PassionProject.TravelWorlds.Models.ViewModels.DetailsCountries
@{
    ViewBag.Title = "Details";
}


<a href="/Countries/List"> Go Back to List</a>

<a href="/Countries/Edit/@Model.SelectedCountries.CountryID"> Update</a>

<a href="/Countries/DeleteConfirm/@Model.SelectedCountries.CountryID"> Delete</a>

<h2>Detail</h2>

<h2>@Model.SelectedCountries.CountryID @Model.SelectedCountries.CountryName</h2>

<h3> Province Related to this Country</h3>

<div>
    
@foreach(var province in Model.RelatedProvince)
            {
     
            <a href="/Provinces/Details/@province.ProvinceID">@province.ProvinceName</a>
       
            }
     
</div>