@model PassionProject.TravelWorlds.Models.CountriesDto

@{
    ViewBag.Title = "Edit";
}


<div style="font-size:30px; float:right;">
    <a href="/Countries/List">Cancel</a>
</div>

<h2>Edit Country</h2>

<form action="/Countries/Update/@Model.CountryID" method="POST">
    <div>
        <label> Country ID:</label><input type="text" name="CountryID" value="@Model.CountryID"/>
    </div>
    <div>
        <label> Country Name:</label> <input type="text" name="CountryName" value="@Model.CountryName" />
    </div>
    <div>
        <input type="submit" value="Edit Country" />
    </div>
</form>

