
@{
    ViewBag.Title = "New";
}

<h2>Create Counntry</h2>

<form action="/Countries/New " method="post"></form>

<div>
    <label>Country Name: </label> <input type="text" name="CountriesName" />"
</div>


