@model PassionProject.TravelWorlds.Models.ProvinceDto
@{
    ViewBag.Title = "View";
}

<h1> Show Province</h1>
<a href="/Provinces/list">Go back to list</a>

<a href="/Provinces/Edit/@Model.ProvinceID"> Update</a>

<a href="/Provinces/DeleteConfirm/@Model.ProvinceID"> Delete</a>

<h2> @Model.ProvinceName </h2>
<div>Country Name: @Model.CountryName</div>


