@model PassionProject.TravelWorlds.Models.ViewModels.DetailsProvinces
@{
    ViewBag.Title = "View";
}


<h3><a href="/Provinces/list">Go back to list</a></h3>

<h1> Province</h1>

<div class="active" style="float:right; font-size:30px;">
    <a href="/Provinces/Edit/@Model.SelectedProvinces.ProvinceID"> Update</a>

    <a href="/Provinces/DeleteConfirm/@Model.SelectedProvinces.ProvinceID"> Delete</a>
</div>

<h1 style="font-size:50px; text-align:center" > @Model.SelectedProvinces.ProvinceName </h1>

<h3>Country Name: @Model.SelectedProvinces.CountryName</h3>


<div>
    <h2><u> Places in this Province</u></h2>
    @foreach (var Places in Model.RealatedPlaces)
            {
<h2><a href="/Places/Details/@Places.PlaceID">@Places.PlaceName</a></h2>

            }
       
</div>
