@model PassionProject.TravelWorlds.Models.ViewModels.DetailsProvinces
@{
    ViewBag.Title = "View";
}

<h1> Show Province</h1>
<a href="/Provinces/list">Go back to list</a>

<a href="/Provinces/Edit/@Model.SelectedProvinces.ProvinceID"> Update</a>

<a href="/Provinces/DeleteConfirm/@Model.SelectedProvinces.ProvinceID"> Delete</a>

<h2> @Model.SelectedProvinces.ProvinceName </h2>

<div>Country Name: @Model.SelectedProvinces.CountryName</div>


<div>
    <h3> Places in this Province</h3>
    @foreach (var Places in Model.RealatedPlaces)
            {
                <a href="/Places/Details/@Places.PlaceID">@Places.PlaceName</a>

            }
       
</div>
