@model PassionProject.TravelWorlds.Models.ProvinceDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit province</h2>

<form action="/Provinces/Update/@Model.ProvinceID" method="POST">
    <div>
        <label>Province Id:</label> <input type="text" name="ProvinceId" value="@Model.ProvinceID" />
    </div>
    <div>
        <label>Province Name:</label> <input type="text" name="ProvinceName" Value="@Model.ProvinceName" />
    </div>
    <div>
        <label>Country  Id:</label> <input type="number" name="CountryID" value="@Model.CountryID" />
    </div>
    <div>
        <input type="submit" value="Edit Province" />
    </div>
</form>