@{
    ViewBag.Title = "Home Page";
}


<div class="animation">

    <div style="background-color: rgb(250, 235, 215,0.5); border:1rem;" class="row">
        <h1 style="text-align:center"><em>Travel-Worlds</em></h1>
        <blockquote class="lead"> “A vacation helps to relieve stress and boredom, gives us a change of scenery, provides us with adventure, and helps to bring us closer to the people in our lives.” – E. S. Woods.</blockquote>
    </div>

    <div style="background-color: rgb(250, 235, 215,0.5); border:1rem;" class="row">
        <div class="col-md-4">
            <h2>Country</h2>
            <p> List of Countries </p>
            <p><a class="btn btn-default" href="https://localhost:44309/Countries/list"> Click for more Infromation &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Province</h2>
            <p>List of Province</p>
            <p><a class="btn btn-default" href="https://localhost:44309/Provinces/List">Click for more Information &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2> Place </h2>
            <p>List of Place</p>
            <p><a class="btn btn-default" href="https://localhost:44309/Places/List"> Click for more Infromation &raquo;</a></p>
        </div>
    </div>
</div>

<style>
    .lead{
        font-size:30px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    
</style>

