@{
    ViewBag.Title = "Home Page";
}



<div style="background-color: rgb(250, 235, 215,0.5); border:1rem;" class="row">
    <h1>Destination</h1>
    <p class="lead"> Vacation is best Meditation.</p>
</div>

    <div style="background-color: rgb(250, 235, 215,0.5); border:1rem;"class="row">
        <div class="col-md-4">
            <h2>Country</h2>
            <p> List Countries </p>
            <p><a class="btn btn-default" href="https://localhost:44309/Countries/list"> more Infromation &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Province</h2>
            <p>List Province</p>
            <p><a class="btn btn-default" href="https://localhost:44309/Provinces/List">more Information &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2> Place </h2>
            <p>List Place</p>
            <p><a class="btn btn-default" href="https://localhost:44309/Places/List"> more Infromation &raquo;</a></p>
        </div>
    </div>
